In [1]:
import pyostie

In [2]:
output = pyostie.extract('/home/anirudhpnbb/Projects/Intelytica/intelligent-recognition/input/sample.jpg', insights=True, extension="jpg")

In [3]:
df, text = output.start()

In [4]:
df

,page_num,par_num,line_num,word_num,left,top,width,height,conf,text,image_width,image_height,topLeft,bottomLeft,bottomRight,topRight
0,1,1,1,1,72,89,87,15,0.96,INVOICE,685,833,"72,89","72,104","159,104","159,89"
1,1,1,1,2,316,93,97,12,0.59,IBS/CS/DIM/04,685,833,"316,93","316,105","413,105","413,93"
2,1,1,1,3,549,86,68,16,0.00,Mai,685,833,"549,86","549,102","617,102","617,86"
3,1,1,1,1,78,170,38,10,0.36,ice,685,833,"78,170","78,180","116,180","116,170"
4,1,1,1,2,116,170,32,8,0.42,i,685,833,"116,170","116,178","148,178","148,170"
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
126,1,1,1,10,368,777,43,6,0.84,PAYABLE,685,833,"368,777","368,783","411,783","411,777"
127,1,1,1,11,414,777,13,6,0.92,TO,685,833,"414,777","414,783","427,783","427,777"
128,1,1,1,12,430,777,60,6,0.92,INTELYTICA,685,833,"430,777","430,783","490,783","490,777"
129,1,1,1,13,493,777,49,6,0.96,BUSINESS,685,833,"493,777","493,783","542,783","542,777"
130,1,1,1,14,545,777,55,6,0.95,ANALYTICS.,685,833,"545,777","545,783","600,783","600,777"

In [5]:
text

[' \n\nINVOICE IBS/CS/DIM/04 TNT)\n\nPayment due from-March2017 to dec-2017 AED 3, 400.00\n\n \n\n \n\niran Kumar Umesh Rao Intelytica Business Analytics\n\nDimensions Information Technology Civil Suppies Bhavan Lane\n0, Box 120354 Somajiguia\n\n‘Abu Dhabi, UAE Hyderabad, India\n\n \n\nDeTAUS Quantity, UNIT PRICE ‘TOTAL\n1 Windows Server on the Cloud (Months) 10 340.00, 3400.00\n4 comes\n8 GERAM\n\n100 GB Hard Disk\n100.68 Data Transfer\nWindows 2008 R2 05\n\n‘SQL Server Express Ealtion Database\n\n \n\n \n\nNet Total ‘AED 3,400.00\nTax\n\nAED TOTAL AED 3,400.00\n\nPAYMENT DETAILS (OTHER INFORMATION\n\nName of Beneficiary: Intel Business Analytics Pvt Lid ay Kumar Cuddappah\n\nName of Bank: State Bank of Hyderahad Phone: +91-40-23310008\n‘Adaress of Bank: Panjaguta Branch, Hyderabad\n\n[Account Number: 62461228907 ves. inteiytica.com\n\nRouting Number (SWIFT Code): SBHYINEBO2O\nPayment Reference: 1BS/C5/DIM/04\n\njay. cuddapaneninelytica com\n\nPAYMENT SHOULD BE MADE BY SANK TRANSFER OR CHEQUE PAYABLE TO INTELYTICA BUSINESS ANALYTICS.\n\x0c']

In [ ]:
import pytesseract
from pytesseract import Output
import cv2
import pandas as pd
import numpy as np
from PIL import Image

top_plus_height = []
left_plus_width = []


def generate_df(filename):
    
    img = cv2.imread(filename)
    image = Image.open(filename)
    w, h = image.size
    d = pytesseract.image_to_data(img, output_type=Output.DICT)
    df = pd.DataFrame(d)
    df.replace("", np.NaN, inplace=True)
    df.replace(" ", np.NaN, inplace=True)
    df.dropna(subset=["text"], inplace=True)
    df = df.reset_index()
    df = df.drop(["index", "block_num", "level"], 1)
    image_width = [w]*len(df)
    image_height = [h]*len(df)
    df["conf"] = [i/100 for i in df["conf"]]
    df["image_width"] = image_width
    df["image_height"] = image_height
    



    for val in range(len(df)):
        output = df["left"][val] + df["width"][val]
        left_plus_width.append(output)
    for val in range(len(df)):
        output = df["top"][val] + df["height"][val]
        top_plus_height.append(output)


    df["top_plus_height"] = top_plus_height 
    df["left_plus_width"] = left_plus_width

    df['topLeft'] = tuple(df[['left', 'top']].apply(lambda x: ','.join(x.fillna('').map(str)), axis=1))
    df['bottomLeft'] = tuple(df[['left', 'top_plus_height']].apply(lambda x: ','.join(x.fillna('').map(str)), axis=1))
    df['bottomRight'] = tuple(df[['left_plus_width', 'top_plus_height']].apply(lambda x: ','.join(x.fillna('').map(str)), axis=1))
    df['topRight'] = tuple(df[['left_plus_width', 'top']].apply(lambda x: ','.join(x.fillna('').map(str)), axis=1))
    df['topLeft'] = df['topLeft'].str.strip(',')
    df['bottomLeft'] = df['bottomLeft'].str.strip(',')
    df['bottomRight'] = df['bottomRight'].str.strip(',')
    df['topRight'] = df['topRight'].str.strip(',')
    df = df.drop(["left_plus_width", "top_plus_height"], 1)
    
    
    return df

In [ ]:
df = generate_df('/home/anirudhpnbb/Projects/Intelytica/intelligent-recognition/input/trimax.jpg')

In [ ]:
df.head()

$$topleft = (leftvalue, topvalue)$$
$$bottomleft = (leftvalue, topvalue + height)$$
$$topright = (leftvalue + width, topvalue)$$
$$bottomright = (leftvalue + width, topvalue + height)$$